In [6]:
import pandas as pd
import os
import glob

In [7]:
all_data = []
for f in glob.glob("*.xlsx"):
    all_data.append(pd.read_excel(f))

In [8]:
df = pd.concat(all_data, ignore_index=True)

In [9]:
df.head()

,name,guardian,hno,age,gen,code,file_name,part
0,बात्रक राम,पिता : सुरता राम,छः,33,पुरुष,KSN0970681,CMB0080005,8
1,सुमन,ग्रति: सतपाल,छः छा,32,मसहिला,KSN1340660,CMB0080005,8
2,अंत्ी,पति : राम स्वरुप,198,84,महिला,HR/01/04/0012705,CMB0080005,8
3,धंमपाल,पिता : रामस्वरुषप,198.,54,पुरुष,HR/01/04/0012706,CMB0080005,8
4,परमजीत कौर,पति: धेमपाल,198,47,महिला,HR/01/04/0012707,CMB0080005,8

In [10]:
df.to_excel('combine.xlsx',index = False)